/*********************** 
BASE STYLING  
***********************/
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Trirong", serif, 'Tajawal', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

#app {
  width: 100%;
}

.content {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}


/******************************
 Signup component styles
*******************************/

.signup-container {
  background-image: url('/images/signup-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  opacity: 0.8;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 500px;
  margin: auto;
  padding: 10px;
}

.signup-form input {
  font-family: "Trirong", serif;
  padding: 5px 14px;
}

.signup-form .name-input input {
  text-transform: capitalize;
}

.signup-form a {
  font-family: "Trirong", serif;
  text-decoration: none;
  color: #1976d2;
  padding: 0 10px;
}

.signup-form button {
  font-family: "Trirong", serif;
}

.signup-form svg {
  margin: 0 3px;
}


/******************************
 Signin component styles
*******************************/

.signin-container {
  background-image: url('/images/signin-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  opacity: 0.8;
}

/******************************
 AdminDashboard component styles
*******************************/

.admin-dashboard-container .btn-1 {
  font-family: "Trirong", serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 8px;
  color: aliceblue;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-dashboard-container .btn-1 svg {
  margin-right: 3px;
}

.admndshbrd-modal-header {
  background: rgb(3, 169, 244);
  position: relative;
  top: 0;
  width: 100%;
  padding: 15px;
  text-align: start;
  font-family: "Trirong", serif;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 5px 5px 0 0;
  /* background:  'rgb(244, 67, 54)'; */
}

.admndshbrd-modal-header button {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}

.admndshbrd-modal-header svg {
  font-family: "Trirong", serif;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  width: 25px;
  height: 25px;
}

.admndshbrd-modal-form {
  padding: 15px;
  width: 100%;
} 

.admndshbrd-modal-form p {
  font-family: "Trirong", serif;
  font-size: 16px;
  line-height: 0;
}

.admndshbrd-modal-form input {
  font-family: "Trirong", serif;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border: 2px solid rgb(3, 169, 244);
  border-radius: 3px;
}

.admndshbrd-modal-form input:focus {
  border: 2px solid rgb(3, 169, 244);
  border-radius: 3px;
}

.admndshbrd-modal-footer {
  border-top: 1px solid rgb(3, 169, 244);
  display: flex;
  justify-content: right;
  margin-top: 10px;
  padding: 10px;
}

.admndshbrd-modal-footer button {
  padding: 6px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/***************************
User Dashboard styles
***************************/

.userdshbrd-modal {
  overflow-y: scroll;
  -ms-overflow-style: none;  /*Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /*Hide scrollbar for Firefox */ 
}

.userdshbrd-modal::-webkit-scrollbar {
  display: none;
}

.user-dashboard-container .btn-1 {
  font-family: "Trirong", serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 8px;
  color: aliceblue;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-dashboard-container .btn-1 svg {
  margin-right: 3px;
}

.userdshbrd-modal-header {
  background: rgb(3, 169, 244);
  position: relative;
  top: 0;
  width: 100%;
  padding: 12px;
  text-align: start;
  font-family: "Trirong", serif;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 5px 5px 0 0;
  /* background:  'rgb(244, 67, 54)'; */
}

.userdshbrd-modal-header button {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}

.userdshbrd-modal-header svg {
  font-family: "Trirong", serif;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  width: 25px;
  height: 25px;
}

.userdshbrd-modal-form {
  padding: 0 15px 10px;
  width: 100%;
} 

.userdshbrd-modal-form h4 {
  line-height: 0;
  font-family: "Trirong", serif;
  font-weight: 600;
  font-size: 16px;
}

.userdshbrd-modal-form p {
  font-family: "Trirong", serif;
  font-size: 16px;
  line-height: 0;
}

.userdshbrd-modal-form input {
  font-family: "Trirong", serif;
  font-size: 16px;
  width: 100%;
  padding: 7px;
  margin-top: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.userdshbrd-modal-form input:focus {
  border: 2px solid rgb(3, 169, 244);
  border-radius: 5px;
}

.userdshbrd-modal-form textarea {
  padding: 7px;
  margin-top: 5px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  width: 100%;
}

.userdshbrd-modal-form textarea:focus {
  border: 2px solid rgb(3, 169, 244);
  border-radius: 5px;
}

.userdshbrd-modal-form textarea:hover {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.userdshbrd-modal-form select {
  padding: 7px;
  margin-top: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.userdshbrd-modal-footer {
  border-top: 1px solid #e1e1e1;
  display: flex;
  justify-content: right;
  margin-top: 10px;
  padding: 10px;
}

.userdshbrd-modal-footer button {
  padding: 6px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}